.error-fullscreen-hero {
   height: 100vh; 
    width: 100%;

    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
    background-image: url('../../assets/images/flower.jpg'); 
    background-size: cover;
    background-position: center;

    z-index: 1; 
}

.error-fullscreen-hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(66, 45, 33, 0.3); 
}

.glass-error-box {
    position: relative; 
    max-width: 500px;
    padding: 50px;

    display: flex;           
    flex-direction: column; 
    align-items: center;     
    text-align: center;
    
    background: rgba(255, 246, 231, 0.7); 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    animation: fadeUp 1s ease-out;
    z-index: 2;
}

.error-title-large {
    font-size: 7rem;
    line-height: 1;
    color: #422d21;
    margin-bottom: 10px;
    position: center;
}

.error-subtitle {
    font-size: 2rem;
    color:#422d21;
    margin-bottom: 20px;
    font-style: italic;
}

.error-poetic-text {
    font-size: 1.1rem;
    color:#422d21;
    margin-bottom: 40px;
    line-height: 1.7;
}


@keyframes fadeUp {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 768px) {
    .glass-error-box {
        margin: 0 20px; 
        padding: 30px;
    }
    .error-title-large {
        font-size: 5rem;
    }
}