
body {
    padding-top: 0; 
}


.contact-section {
    background-color: #fff6e7;
    padding: 5px 0 0px 0; 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
}

.contact-form-wrapper {
    flex: 1;
    max-width: 500px;
}

.contact-form-wrapper h2 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 20px;
    color: #4a3427;
    text-align: left; 
}

.contact-intro {
    margin-bottom: 30px;
    color: #6b4632;
}

.styled-form input, 
.styled-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgba(74, 52, 39, 0.2);
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: inherit;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.styled-form input:focus, 
.styled-form textarea:focus {
    outline: none;
    border-color: #4a3427;
    background-color: #fff6e7;
    box-shadow: 0 0 10px rgba(74, 52, 39, 0.1);
}

.styled-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #4a3427;
}


.contact-image {
    flex: 1;
    height: 750px;
    border-radius: 300px 300px 0 0; 
    overflow: hidden;
}

.contact-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-links-contact {
    margin-top: 20px;      
    padding-top: 20px;

}

@media (max-width: 900px) {
    .contact-container {
        flex-direction: column-reverse; 
        align-items: center;
    }
    
    .contact-image {
        width: 100%;
        height: 300px;
        border-radius: 20px;
    }
    
    .contact-form-wrapper h2 {
        text-align: center;
    }
    
    .contact-section {
        padding-top: 100px; 
    }
}