.portfolio-item {
    display: grid;
    grid-template-columns: 2fr 3fr; 
    gap: 60px;
    margin-bottom: 8rem;
    align-items: center; 
}

.portfolio-item figure {
    border: 1px solid var(--color-light-grey);
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 8px;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.portfolio-item img:hover {
    transform: scale(1.05);
}

.portfolio-item figcaption {
    font-size: 0.9rem;
    opacity: 0.6;
    padding: 10px;
    background-color: var(--color-light-grey);
    text-align: center;
}

.item-description h3 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}

.portfolio-item.reverse-layout {
    grid-template-areas: "desc image";
}

.portfolio-item.reverse-layout figure {
    grid-area: image;
}

.portfolio-item.reverse-layout .item-description {
    grid-area: desc;
    text-align: right;
}

.portfolio-section {
    padding-top: 20px; 
    padding-bottom: 100px;
}
.portfolio-grid {
    display: flex !important;
    flex-direction: row !important; 
    flex-wrap: nowrap !important;  
    justify-content: center !important; 
    align-items: flex-end; 
    gap: 90px; 
    width: 100%;
    margin: 0 auto !important;
    padding: 50px 0;
    padding-top: 0px;
    overflow-x: auto; 
}


.portfolio-card {
    display: inline-block !important; 
    width: 290px !important;       
    flex-shrink: 0;                  
    text-decoration: none;
    padding: 12px;
    opacity: 0;              
    transform: translateY(20px); 
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.portfolio-card.is-visible {
    opacity: 1;               
    transform: translateY(0);
}

.image-wrapper {
    position: relative;
    width: 290px;  
    height: 580px; 
    overflow: hidden;
    border-radius: 160px 160px 0 0;
    background-color: #f0f0f0;       
}


.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.image-wrapper:hover img {
    transform: scale(1.1);
}


.card-label {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,0.5);
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 0.9rem;
  white-space: nowrap;
}


.portfolio-card:hover {
  transform: translateY(-10px); 
}

.portfolio-card:hover img {
  filter: brightness(0.8); 
}

